@model List<E_Study.Core.Models.User>

@* <form asp-action="AddUsersToCourse" method="post">
    <input type="hidden" name="courseId" value="@ViewData["CurrentCourseId"]" />
    <div>
        <h3>Select Users to Add to Course</h3>
        <ul>
            @foreach (var user in Model)
            {
                <li>
                    <input type="checkbox" name="userIds" value="@user.Id" /> @user.UserName
                </li>
            }
        </ul>
    </div>
    <button type="submit" class="btn btn-primary">Add Selected Users</button>
</form>
 *@
<div class="mt-2">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#modalCenter">
        <span class="tf-icons bx bx-edit me-1"></span>Add User
    </button>
    <!-- Modal -->
    <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCenterTitle">Add Users to Course</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-action="AddUsersToCourse" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="courseId" value="@ViewBag.CurrentCourseId" />

                    <div class="modal-body">
                        <div class="row">
                            <ul>
                                @if(Model.Any())
                                {
                                    @foreach (var user in Model)
                                    {
                                        <li>
                                            <input type="checkbox" name="userIds" value="@user.Id" /> @user.UserName
                                        </li>
                                    }
                                }
                                else
                                {
                                    <h3>No user left</h3>
                                }

                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Add Users</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    
}
