@model IEnumerable<E_Study.Core.Models.Message>
@{
    ViewData["Title"] = "Chat";
    var userName = User.Identity.Name;
}

<h1>Chat</h1>

<div class="row">
    @if (Model != null)
    {
        @foreach (var message in Model.OrderBy(m => m.DateTime))
        {
            <div class="row">
                <div class="offset-1">
                    <p>@message.Username</p>
                    <p>@message.Text</p>
                    <span>@message.DateTime.ToString()</span>
                </div>
            </div>
        }
    }
    <div class="col-md-12">
        <form asp-action="SendMessage" data-ajax-begin="clearInputField" data-ajax-complete=""
              data-ajax-failure="alert('Fail') data-ajax-success="sendMessage"
              data-ajax="true" data-ajax-method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input name="Text" class="form-control" id="messageText" />
            </div>
            <div class="form-group">
                <input type="submit" value="Send" id="submitButton" class="btn btn-primary" />
            </div>
            <input type="hidden" value="@userName" name="username" />
        </form>
    </div>
</div>

<script>
    const userName = "@ViewBag.CurrentUserName";
</script>


@section scripts {
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/signalrReqHandler.js"></script>
}
