@model IEnumerable<E_Study.Core.Models.Message>
@{
    ViewData["Title"] = "Chat";
    var userName = User.Identity.Name;
}

<div class="app-chat overflow-hidden card">
    <div class="row g-0">
        <!-- Chat & Contacts -->
        <div class="col app-chat-contacts app-sidebar flex-grow-0 overflow-hidden border-end" id="app-chat-contacts">
            <div class="sidebar-header pt-3 px-3 mx-1">
                <div class="d-flex align-items-center me-3 me-lg-0">
                    <div class="flex-shrink-0 avatar avatar-online me-2" data-bs-toggle="sidebar" data-overlay="app-overlay-ex" data-target="#app-chat-sidebar-left">
                        <img class="user-avatar rounded-circle cursor-pointer" src="../../assets/img/avatars/user.png" alt="Avatar">
                    </div>
                    <div class="flex-grow-1 input-group input-group-merge rounded-pill ms-1">
                        <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search fs-4"></i></span>
                        <input type="text" class="form-control chat-search-input" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon-search31">
                    </div>
                </div>
                <i class="bx bx-x cursor-pointer position-absolute top-0 end-0 mt-2 me-1 fs-4 d-lg-none d-block" data-overlay data-bs-toggle="sidebar" data-target="#app-chat-contacts"></i>
            </div>
            <hr class="container-m-nx mt-3 mb-0">
            <div class="sidebar-body">
                <!-- Chats -->
                <ul class="list-unstyled chat-contact-list pt-1" id="chat-list">
                    <li class="chat-contact-list-item chat-contact-list-item-title">
                        <h5 class="text-primary mb-0">Chats</h5>
                    </li>
                    <li class="chat-contact-list-item chat-list-item-0 d-none">
                        <h6 class="text-muted mb-0">No Chats Found</h6>
                    </li>

                    <li class="chat-contact-list-item active">
                        <a class="d-flex align-items-center">
                            <div class="flex-shrink-0 avatar avatar-offline">
                                <img src="../../assets/img/avatars/user.png" alt="Avatar" class="rounded-circle">
                            </div>
                            <div class="chat-contact-info flex-grow-1 ms-3">
                                <h6 class="chat-contact-name text-truncate m-0">20020254</h6>
                                <p class="chat-contact-status text-truncate mb-0 text-muted">hahaha một hai ba</p>
                            </div>
                            <small class="text-muted mb-auto">4 Minutes</small>
                        </a>
                    </li>
                    <li class="chat-contact-list-item">
                        <a class="d-flex align-items-center">
                            <div class="flex-shrink-0 avatar avatar-busy">
                                <span class="avatar-initial rounded-circle bg-label-success">AI</span>
                            </div>
                            <div class="chat-contact-info flex-grow-1 ms-3">
                                <h6 class="chat-contact-name text-truncate m-0">Chatbot</h6>
                                <p class="chat-contact-status text-truncate mb-0 text-muted">What can i do for y...</p>
                            </div>
                            <small class="text-muted mb-auto">1 Minutes</small>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /Chat contacts -->
        <!-- Chat History -->
        <div class="col app-chat-history">
            <div class="chat-history-wrapper">
                <div class="chat-history-header border-bottom">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex overflow-hidden align-items-center">
                            <i class="bx bx-menu bx-sm cursor-pointer d-lg-none d-block me-2" data-bs-toggle="sidebar" data-overlay data-target="#app-chat-contacts"></i>
                            <div class="flex-shrink-0 avatar">
                                <img src="../../assets/img/avatars/user.png" alt="Avatar" class="rounded-circle" data-bs-toggle="sidebar" data-overlay data-target="#app-chat-sidebar-right">
                            </div>
                            <div class="chat-contact-info flex-grow-1 ms-3">
                                <h6 class="m-0">CourseName</h6>
                                <small class="user-status text-muted">Offline</small>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <i class="bx bx-phone-call cursor-pointer d-sm-block d-none me-3 fs-4"></i>
                            <i class="bx bx-video cursor-pointer d-sm-block d-none me-3 fs-4"></i>
                            <i class="bx bx-search cursor-pointer d-sm-block d-none me-3 fs-4"></i>
                            <div class="dropdown">
                                <button class="btn p-0" type="button" id="chat-header-actions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bx bx-dots-vertical-rounded fs-4"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="chat-header-actions">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-history-body" id="chat">
                    <ul class="list-unstyled chat-history mb-0">
                        @if (Model != null)
                        {
                            @foreach (var message in Model.OrderBy(m => m.DateTime))
                            {
                                <div class="row">
                                    @if (message.Username == userName)
                                    {
                                    <li class="chat-message chat-message-right">
                                        <div class="d-flex overflow-hidden">
                                            <p>@message.Username</p>
                                            <div class="chat-message-wrapper flex-grow-1">
                                                <div class="chat-message-text">
                                                    <p class="mb-0">@message.Text</p>
                                                </div>
                                                <div class="text-end text-muted mt-1">
                                                    <i class='bx bx-check-double text-success'></i>
                                                    <small>@message.DateTime.ToString()</small>
                                                </div>
                                            </div>
                                            <div class="user-avatar flex-shrink-0 ms-3">
                                                <div class="avatar avatar-sm">
                                                    <img src="../../assets/img/avatars/user.png" alt="Avatar" class="rounded-circle">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    }
                                    else
                                    {
                                    <li class="chat-message">
                                        <div class="d-flex overflow-hidden">
                                            <p>@message.Username</p>
                                            <div class="user-avatar flex-shrink-0 me-3">
                                                <div class="avatar avatar-sm">
                                                    <img src="../../assets/img/avatars/user.png" alt="Avatar" class="rounded-circle">
                                                </div>
                                            </div>
                                            <div class="chat-message-wrapper flex-grow-1">
                                                <div class="chat-message-text">
                                                    <p class="mb-0">zzzzzzzzzzzzzzzzzzzzz</p>
                                                </div>
                                                <div class="chat-message-text mt-2">
                                                    <p class="mb-0">@message.Text</p>
                                                </div>
                                                <div class="text-muted mt-1">
                                                    <small>@message.DateTime.ToString()</small>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    }
                        </div>
                            }
                        }
                </ul>
            </div>
            <!-- Chat message form -->
                
            <div class="chat-history-footer">              
                    <form asp-action="SendMessage" data-ajax-begin="clearInputField" data-ajax-complete=""
                          data-ajax-failure="alert('Fail')" data-ajax-success="sendMessage"
                          data-ajax="true" data-ajax-method="POST">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input name="Text" class="form-control" id="messageText" />
                        </div>
                        <div class="form-group message-actions d-flex align-items-center" >
                            <input type="submit" value="Send" id="submitButton" class="btn btn-primary" />
                        </div>
                        <input type="hidden" value="@userName" name="username" />
                        <input type="hidden" name="CourseId" value="@ViewBag.CurrentCourseId" />
                    </form>
            </div>        
        </div>
    </div>
    <!-- /Chat History -->
</div>
<script>
    const userName = "@ViewBag.CurrentUserName";
</script>


    @section scripts {
    <script src="/assets/js/app-chat.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/signalrReqHandler.js"></script>
    }
