@model IEnumerable<E_Study.Core.Models.Message>
@{
    ViewData["Title"] = "Chat";
    var currentUserName = User.Identity.Name;
}

<h1>Chat</h1>
<div class="row">
    <div class="col-md-12" id="chat">
        @if (Model != null)
        {
            @foreach (var message in Model.OrderBy(m => m.DateTime))
            {
                <div class="row">
                    @if (message.Username == currentUserName)
                    {
                        <div class="offset-8 col-3 bg-primary text-white rounded text-right">
                            <p>@message.Username</p>
                            <p>@message.Text</p>
                            <span>@message.DateTime.ToString()</span>
                        </div>
                    }
                    else
                    {
                        <div class="col-3 bg-light rounded">
                            <p>@message.Username</p>
                            <p>@message.Text</p>
                            <span>@message.DateTime.ToString()</span>
                        </div>
                    }
                </div>
            }
        }
    </div>
    <div class="col-md-12">
        <form asp-action="SendMessage" data-ajax-begin="clearInputField" data-ajax-complete=""
              data-ajax-failure="alert('Fail')" data-ajax-success="sendMessage"
              data-ajax="true" data-ajax-method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input name="Text" class="form-control" id="messageText" />
            </div>
            <div class="form-group">
                <input type="submit" value="Send" id="submitButton" class="btn btn-primary" />
            </div>
            <input type="hidden" value="@currentUserName" name="username" />
            <input type="hidden" name="CourseId" value="@ViewBag.CurrentCourseId" />
        </form>
    </div>
</div>

<script>
    const currentUserName = "@currentUserName";
</script>

@section scripts {
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/signalrReqHandler.js"></script>
}
