@model IEnumerable<E_Study.Core.Models.ExamCourse>

<h4>
    Assignments
</h4>
<div class="mt-2 mb-4">
<a asp-action="AddExamToCourse" asp-controller="Course" asp-route-courseId="@ViewData["CurrentCourseId"]" class="btn btn-secondary create-new btn-primary">
    <span>
        <i class="bx bx-plus me-sm-1"></i> <span class="d-none d-sm-inline-block">New Assignment</span>
    </span>
</a>
</div>
<div class="row mb-4 g-4">
    @foreach (var exam in Model)
    {
        <div class="col-12 col-xl-4 col-md-6">
            <div class="card h-100">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <div class="card-title mb-0">
                            <h4 class="m-0 me-2">@exam.Exam.Title</h4>
                        </div>
                        <div class="dropdown">
                            <button class="btn p-0" type="button" id="popularInstructors" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="popularInstructors">
                                <a class="dropdown-item" href="javascript:void(0);">Edit</a>
                                <a class="dropdown-item text-danger" href="javascript:void(0);">Delete</a>
                            </div>
                        </div>
                    </div>
                <div class="card-body">
                    <p class="medium">@exam.Exam.Description</p>
                    <div class="row mb-4 g-3">
                        <div class="col-6">
                            <div class="d-flex">
                                <div class="avatar flex-shrink-0 me-2">
                                    <span class="avatar-initial rounded bg-label-primary"><i class="bx bx-calendar-exclamation bx-sm"></i></span>
                                </div>
                                <div>
                                    <h6 class="mb-0 text-nowrap">@exam.StartDate.ToString("MMM dd hh:mm tt")</h6>
                                    <small>Date</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex">
                                <div class="avatar flex-shrink-0 me-2">
                                    <span class="avatar-initial rounded bg-label-primary"><i class="bx bx-time-five bx-sm"></i></span>
                                </div>
                                <div>
                                    <h6 class="mb-0 text-nowrap">@exam.Exam.Time Minutes</h6>
                                    <small>Duration</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <!-- Adjust column size based on your preference -->
                            <a class="btn btn-primary w-100"
                               asp-action="Details" asp-controller="Exam"
                               asp-route-examId="@exam.Exam.Id"
                               asp-route-courseId="@ViewData["CurrentCourseId"]">View Exam</a>
                        </div>
                        <div class="col-md-6 mb-2">
                            <a class="btn btn-label-primary w-100" asp-action="ExamGrades" asp-controller="Course"
                               asp-route-courseId="@ViewData["CurrentCourseId"]"
                               asp-route-examId="@exam.Exam.Id">View Grades</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>