@model IEnumerable<E_Study.Core.Models.Event>

@{
    ViewData["Title"] = "Files";
}

<h3>Files</h3>

<div class="card h-100">
    <div class="card-datatable table-responsive">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
            <div class="card-header flex-column flex-md-row">        
                <div class="dt-action-buttons text-end pt-md-0">
                    <div class="dt-buttons btn-group flex-wrap">                  
                        <div id="createEventContainer">
                            <!-- Load the create event form -->
                            @{
                                Html.RenderPartial("_UploadFile", new E_Study.Core.Models.Event());
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="DataTables_Table_0_length">
                        <label>Show <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select"><option value="7">7</option><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="75">75</option><option value="100">100</option></select> entries</label>
                    </div>
                </div><div class="col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end"><div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label></div></div>
            </div>
            <table class="datatables-basic table border-top dataTable no-footer dtr-column" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 1391px;">
                <thead>
                    <tr>
                        <th class="control sorting_disabled dtr-hidden" rowspan="1" colspan="1" style="width: 57px; display: none;" aria-label=""></th>
                        <th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 48px;" data-col="1" aria-label=""><input type="checkbox" class="form-check-input"></th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 142px;" aria-label="Name: activate to sort column ascending">Name</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 147px;" aria-label="Email: activate to sort column ascending">Modified</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 130px;" aria-label="Date: activate to sort column ascending">Modified by</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 174px;" aria-label="Actions"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        if (@item.EventType == "File")
                        {
                            <tr class="odd">
                                <td class="control" tabindex="0" style="display: none;">
                                </td>
                                <td class="dt-checkboxes-cell">
                                    <input type="checkbox" class="dt-checkboxes form-check-input">
                                </td>
                                <td>
                                    <div class="d-flex justify-content-start align-items-center user-name">
                                        <img src="/assets/img/icons/misc/pdf1.png" alt="pdf" height="36" width="36" class="me-2">

                                        <div class="d-flex flex-column">
                                            <a href="@Url.Action("GetFile", "Course", new { filePath = item.FilePath })" target="_blank">
                                                <span class="emp_name text-truncate">@item.FileName</span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>@item.StartDate</td>
                                <td>Hoàng Quốc Cường</td>
                                <td>
                                    <div class="d-inline-block">
                                        <a href="javascript:;" class="btn btn-sm btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end m-0">
                                            <li>
                                                <a class="dropdown-item text-primary"
                                                   asp-action="Details" asp-controller="Exam"
                                                   asp-route-examId="@item.Id"
                                                   asp-route-courseId="@ViewData["CurrentCourseId"]">Chi tiết</a>
                                            </li>
                                            <div class="dropdown-divider"></div>
                                            <li>
                                                <a href="javascript:;" class="dropdown-item text-danger delete-record">Xóa</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="javascript:;" class="btn btn-sm btn-icon item-edit">
                                        <i class="bx bxs-edit">

                                        </i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @* <div class="row">
            <div class="col-sm-12 col-md-6">
            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 1 of 1 entries</div>
            </div>
            <div class="col-sm-12 col-md-6">
            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
            <ul class="pagination"><li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a aria-controls="DataTables_Table_0" aria-disabled="true" role="link" data-dt-idx="previous" tabindex="-1" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" role="link" aria-current="page" data-dt-idx="0" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a aria-controls="DataTables_Table_0" aria-disabled="true" role="link" data-dt-idx="next" tabindex="-1" class="page-link">Next</a></li></ul>
            </div>
            </div>
            </div> *@
        </div>
    </div>
</div>


