@model List<E_Study.ViewModel.PostViewModel>
@*
*@
@{
    ViewData["Title"] = "Index";

}
<h1>Posts</h1>
<a asp-action="CreatePost" asp-route-courseId="@ViewBag.CurrentCourseId" asp-controller ="Course" class="btn btn-primary">Create new post</a>

<div>
    @foreach (var post in Model)
    {
        <div>
            <h3>@post.Title</h3>
            <p>@post.Text</p>
            <p>Posted by: @post.User.UserName</p>
            <p>Created at: @post.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</p>
            <h4>Comments:</h4>
            <div id="comments-@post.Id">
                @foreach (var comment in post.Comments)
                {
                    <div>
                        <p>@comment.Text</p>
                        <p>Posted by: @comment.User.UserName</p>
                        <p>Created at: @comment.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</p>
                    </div>
                    <hr />
                }
            </div>

            <!-- Form for adding a new comment -->
            <form class="comment-form" data-post-id="@post.Id">
                <div class="form-group">
                    <label for="commentText">Add a comment:</label>
                    <textarea id="commentText" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
        <hr />
    }
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.comment-form').submit(function (e) {
                e.preventDefault();
                var postId = $(this).data('post-id');
                var text = $(this).find('#commentText').val();
                $.ajax({
                    url: '/Course/CreateComment',
                    method: 'POST',
                    data: {
                        postId: postId,
                        text: text
                    },
                    success: function (response) {
                        // Append the new comment to the comments section
                        var commentHtml = '<div><p>' + response.text + '</p><p>Posted by: ' + response.userName + '</p><p>Created at: ' + response.createdAt + '</p></div><hr />';
                        $('#comments-' + postId).append(commentHtml);
                        // Clear the comment textarea
                        $('#commentText').val('');
                    },
                    error: function () {
                        alert('Failed to add comment.');
                    }
                });
            });
        });
    </script>
}