@model List<E_Study.ViewModel.PostViewModel>
@*
*@
@{
    ViewData["Title"] = "NewFeed";
    var contactsViewData = new ViewDataDictionary(ViewData)
            {
                ["courseId"] = ViewData["CurrentCourseId"]
            };
}
@* <a asp-action="CreatePost" asp-route-courseId="@ViewBag.CurrentCourseId" asp-controller="Course" class="btn btn-primary">Create new post</a>
 *@
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <!-- Create Post Section -->
            <div id="createPostContainer">
                <!-- Load the create post form -->
                @{
                    Html.RenderPartial("_CreatePost", new E_Study.Core.Models.Post());
                }
            </div>
            <!-- Posts with Comments Section -->
            @foreach (var post in Model)
            {
                <div class="card h-auto">
                    <div class="card-header flex-grow-0">
                        <div class="d-flex">
                            <div class="avatar avatar-md avatar-online flex-shrink-0 me-3">
                                <div class="avatar avatar-md me-2">
                                    <span class="avatar-initial rounded-circle bg-label-success">
                                        <span class="avatar-initial rounded-circle bg-label-success">@post.User.LastName.Substring(0, 1)</span>
                                    </span>
                                </div>
                            </div>

                            <div class="d-flex w-100 flex-wrap flex-grow-1 align-items-center justify-content-between">
                                <div class="me-2">
                                    <h5 class="mb-0 fw-bold">@(post.User.FirstName + " " + post.User.LastName)</h5>
                                    <small class="created-at fw-light" data-creation-time="@post.CreatedAt.ToString("yyyy-MM-ddTHH:mm:ss")">@post.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</small>
                                </div>
                                <div class="dropdown d-none d-sm-block">
                                    <button class="btn p-0" type="button" id="eventList" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bx-chevron-down"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sharedList">
                                        <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <p class="fw-normal">@post.Text</p>
                        @*    <img class="img-fluid flex-grow-1" src="../../assets/img/backgrounds/event.jpg" alt="Card image cap">
                    *@
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="card-actions">
                                <a href="javascript:;" class="text-muted me-3"><i class="bx bx-heart me-1"></i> 0</a>
                                <a href="javascript:;" class="text-muted"><i class="bx bx-message me-1"></i> @post.Comments.Count</a>
                            </div>
                        </div>
                        <div class="divider">
                            <div class="divider-text">Comments</div>
                        </div>
                        <div id="comments-@post.Id">
                            @foreach (var comment in post.Comments)
                            {
                                <div class="row">
                                    <div class="col">
                                        <div class="d-flex flex-start mb-4">
                                            <div class="avatar avatar-md avatar-online flex-shrink-0 me-4 " width="50"
                                                 height="50">
                                                <div class="avatar avatar-md" width="50"
                                                     height="50">
                                                    <span class="avatar-initial rounded-circle bg-label-success">
                                                        <span class="avatar-initial rounded-circle bg-label-success">@comment.User.LastName.Substring(0, 1)</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 flex-shrink-1">
                                                <div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="mb-1">
                                                            @comment.User.FirstName @comment.User.LastName - <span class="created-at small fw-light" data-creation-time="@comment.CreatedAt.ToString("yyyy-MM-ddTHH:mm:ss")">@comment.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</span>
                                                        </p>
                                                        <a href="#!"><i class="fas fa-reply fa-xs"></i><span class="small"> reply</span></a>
                                                    </div>
                                                    <p class="small mb-0">
                                                        @comment.Text
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                        <form class="comment-form" data-post-id="@post.Id">
                            <div class="mb-0 mt-2">
                                <div class="d-flex flex-row align-items-start">
                                    @*                                     <img class="rounded-circle me-2" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                                *@
                                    <div class="avatar avatar-sm me-2" width="50"
                                         height="50">
                                        <span class="avatar-initial rounded-circle bg-label-success">
                                            <span class="avatar-initial rounded-circle bg-label-success">C</span>
                                        </span>
                                    </div>
                                    <input class="form-control ml-1 shadow-none textarea" id="commentText" rows="1" placeholder="Write your comment here..."></input>
                                </div>
                            </div>

                            @* <button type="submit" class="btn btn-primary btn-sm shadow-none">
                        Post comment
                        </button> *@
                            <input type="submit" hidden />

                        </form>

                    </div>

                </div>
                <br />
                <br />
            }
        </div>



    </div>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.comment-form').submit(function (e) {
                e.preventDefault();
                var postId = $(this).data('post-id');
                var text = $(this).find('#commentText').val();
                $.ajax({
                    url: '/Course/CreateComment',
                    method: 'POST',
                    data: {
                        postId: postId,
                        text: text
                    },
                    success: function (response) {
                        // Create HTML for the new comment
                        var commentHtml = '<div class="row">' +
                            '<div class="col">' +
                            '<div class="d-flex flex-start mb-4">' +
                            '<div class="avatar avatar-md avatar-online flex-shrink-0 me-4" width="50" height="50">' +
                            '<div class="avatar avatar-md" width="50" height="50">' +
                            '<span class="avatar-initial rounded-circle bg-label-success">' +
                            '<span class="avatar-initial rounded-circle bg-label-success">' + 'C' + '</span>' +
                            '</span>' +
                            '</div>' +
                            '</div>' +
                            '<div class="flex-grow-1 flex-shrink-1">' +
                            '<div>' +
                            '<div class="d-flex justify-content-between align-items-center">' +
                            '<p class="mb-1">' +
                            "Hoàng Quốc Cường" + ' - <span class="created-at small">' + "Just now" + '</span>' +
                            '</p>' +
                            '<a href="#!"><i class="fas fa-reply fa-xs"></i><span class="small"> reply</span></a>' +
                            '</div>' +
                            '<p class="small mb-0">' +
                            response.text +
                            '</p>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '<hr />';
                        // Append the new comment to the comments section
                        $('#comments-' + postId).append(commentHtml);
                        // Clear the comment textarea
                        $('#commentText').val('');
                    },
                    error: function () {
                        alert('Failed to add comment.');
                    }
                });
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var createdTimes = document.querySelectorAll(".created-at");
            createdTimes.forEach(function (createdTime) {
                var creationTime = new Date(createdTime.getAttribute("data-creation-time"));
                var currentTime = new Date();
                var timeDiff = currentTime - creationTime;

                var seconds = Math.floor(timeDiff / 1000);
                var minutes = Math.floor(seconds / 60);
                var hours = Math.floor(minutes / 60);
                var days = Math.floor(hours / 24);

                var timeAgo;
                if (days > 0) {
                    timeAgo = days + "d ago";
                } else if (hours > 0) {
                    timeAgo = hours + "h ago";
                } else if (minutes > 0) {
                    timeAgo = minutes + "m ago";
                } else {
                    timeAgo = "Just now";
                }

                createdTime.textContent = timeAgo;
            });
        });
    </script>
    <script>
        $(function () {
            // Load the create post form content asynchronously when the page is loaded
            $.get('@Url.Action("CreatePost", "Course")', { courseId: '@ViewBag.CurrentCourseId' }, function (data) {
                $("#createPostContainer").html(data); // Update the container with the loaded partial view
            });
        });
    </script>
}
