@model E_Study.ViewModel.ExamViewModel
@{
}

@* <h4>
        <span class="text-muted fw-light">Bài tập /</span> Chi tiết
    </h4>
 *@
<div class="card h-100">
    <div class="card-body row">
        <div class="d-flex align-items-center justify-content-between mt-0 ms-0 mb-0">
            <a href="javascript: history.go(-1)" class="text-light">
                <span class="fa-solid fa-angle-left bx-sm me-1"></span>
                <span style="font-size: 1.2rem;">Back</span>
            </a>
        </div>
        <div class="d-flex justify-content-between align-items-center flex-wrap mb-2">
            <div class="me-1">
                <h3 class="mb-1">@Model.Title</h3>
                <p class="mb-1"><span class="fw-medium"></span></p>
            </div>
            <div class="d-flex align-items-center">
                <span class="badge bg-label-danger">Unfinished</span>
                <i class='bx bx-share-alt bx-sm mx-4'></i>
                <i class='bx bx-bookmarks bx-sm'></i>
            </div>
        </div>
        <div class="card academy-content shadow-none border">
            <div class="card-body">
                <h5 class="mb-2">Description</h5>
                <p class="mb-0 pt-1">
                    @Model.Description
                </p>
                <hr class="my-4">
                <h5>Details</h5>
                <div class="d-flex flex-wrap">
                    <div class="me-5">
                        <p class="text-nowrap"><i class='bx bx-check-double bx-sm me-2'></i>Maximum Point: @Model.MaxScore</p>
                        <p class="text-nowrap"><i class='bx bxs-flag-alt bx-sm me-2'></i>Languages: English</p>
                    </div>
                    <div>
                        <p class="text-nowrap"><i class='bx bx-pencil bx-sm me-2'></i>Number of Questions: 3</p>
                        <p class="text-nowrap "><i class='bx bxs-watch bx-sm me-2'></i>Time Limit: @Model.Time minutes</p>
                    </div>
                </div>
                <hr class="mb-4 mt-2">
                <h5>Result History</h5>
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Attempt</th>
                                <th>Point</th>
                                <th>Date Submit</th>
                            </tr>
                        </thead>
                        @foreach (var grade in ViewBag.Grades)
                        {

                            <tr>
                                <td>
                                    <a>@grade.Attempt</a>
                                </td>
                                <td>
                                    <a>@grade.Score/10</a>
                                </td>
                                <td>
                                    <a>@grade.DateTime</a>
                                </td>
                            </tr>

                        }
                    </table>
                </div>
                
            </div>
        </div>
         <hr class="my-4" />
        <div class="d-flex justify-content-center align-items-center">
            <a class="btn btn-primary" asp-action="StartExam" asp-controller="Exam" asp-route-examId="@Model.Id" asp-route-courseId="@ViewData["CurrentCourseId"]">
                Start Exam
            </a>
        </div>
    </div>
</div>
