@model E_Study.ViewModel.ExamViewModel
@{
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4>
        <span class="text-muted fw-light">Bài tập /</span> Chi tiết
    </h4>

    <div class="card mt-5">
        <div class="card-body row">
            <div class="d-flex justify-content-between align-items-center flex-wrap mb-2 gap-1">
                <div class="me-1">
                    <h3 class="mb-1">@Model.Title</h3>
                    <p class="mb-1"><span class="fw-medium">Đăng bởi: Devonne Wallbridge </span></p>
                </div>
                <div class="d-flex align-items-center">
                    <span class="badge bg-label-danger">Đang diễn ra</span>
                    <i class='bx bx-share-alt bx-sm mx-4'></i>
                    <i class='bx bx-bookmarks bx-sm'></i>
                </div>
            </div>
            <div class="card academy-content shadow-none border">
                <div class="card-body">
                    <h5 class="mb-2">Mô tả</h5>
                    <p class="mb-0 pt-1">
                        @Model.Description
                    </p>
                    <hr class="my-4">
                    <h5>Chi tiết</h5>
                    <div class="d-flex flex-wrap">
                        <div class="me-5">
                            <p class="text-nowrap"><i class='bx bx-check-double bx-sm me-2'></i>Điểm tối đa: @Model.MaxScore</p>
                            <p class="text-nowrap"><i class='bx bxs-flag-alt bx-sm me-2'></i>Languages: English</p>
                            <p class="text-nowrap "><i class='bx bx-file bx-sm me-2'></i>Sử dụng tài liệu: Không</p>
                        </div>
                        <div>
                            <p class="text-nowrap"><i class='bx bx-pencil bx-sm me-2'></i>Số câu: 19</p>
                            <p class="text-nowrap "><i class='bx bxs-watch bx-sm me-2'></i>Thời gian: 15 phút</p>
                        </div>
                    </div>
                    <hr class="mb-4 mt-2">
                    <h5>Lịch sử làm bài</h5>
                    <table>
                        <tr>
                            <th>Đợt</th>
                            <th>Điểm</th>
                            <th>Thời gian</th>
                        </tr>
                        @foreach (var grade in ViewBag.Grades)
                        {

                            <tr>
                                <td>
                                    <a>@grade.Attempt</a>
                                </td>
                                <td>
                                    <a>@grade.Score</a>
                                </td>
                                <td>
                                    <a>@grade.DateTime</a>
                                </td>
                            </tr>

                        }
                    </table>
                   
                    <hr class="my-4">
                    <div class="d-flex justify-content-center align-items-center">
                        <a class="btn btn-primary" asp-action="StartExam" asp-controller="Exam" asp-route-examId="@Model.Id">
                            Bắt đầu làm
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>
