@model E_Study.ViewModel.StartExamViewModel

@{
    ViewData["Title"] = "Start Exam";
}
<style>
    /* Style for the fixed timer */
    #timer {
        position: fixed;
        top: 22%;
        transform: translateY(-50%);
        right: 35px; /* Adjust right position as needed */
        background-color: #fff; /* Background color */
        padding: 15px; /* Padding */
        border: 1px solid #ccc; /* Border */
        border-radius: 5px; /* Border radius */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
        z-index: 1000; /* Ensure it's above other content */
        font-size: 20px; /* Font size */
    }

    /* Style for the "Time Left" text */
    #time-left {
        font-weight: bold; /* Bold text */
        margin-bottom: 5px; /* Margin below the text */
    }
</style>
<h1>@Model.ExamName</h1>
<div id="timer">
    <div id="time-left">Time Left:</div>
    <div id="countdown">00:00:00</div> <!-- Add a div to display the remaining time -->
</div>
<form asp-action="StartExam" asp-controller="Exam" method="post">
    <input type="hidden" name="courseId" value="@ViewData["CurrentCourseId"]"/>
    <input type="hidden" asp-for="StudentId" />
    <input type="hidden" asp-for="ExamId" />
    <ul>
        @for (var i = 0; i < Model.QnAs.Count(); i++)
        {
            <input type="hidden" asp-for="@Model.QnAs[i].Id" />
            <input type="hidden" asp-for="@Model.QnAs[i].ExamId" />
            <input type="hidden" asp-for="@Model.QnAs[i].Answer" />
            <div class="card mb-4" style="width: 70rem;">

                <div class="card-body">
                    <span>Question @(i + 1)</span>
                    <h3 class="mb-3 mt-1">@Model.QnAs[i].Question</h3>
                    <!-- list group -->
                    @if (Model.QnAs[i].Type.ToString() == "Single Choice")
                    {
                        <label class="form-label">Choose one of the answers below</label>
                        <div class="list-group">
                            <div class="list-group-item list-group-item-action " aria-current="true">

                                <!-- form check -->

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="QnAs[@i].SelectedAnswer" id="option1_@i" value="@Model.QnAs[i].Option1">
                                    <label class="form-check-label stretched-link" for="option1_@i">
                                        @Model.QnAs[i].Option1
                                    </label>
                                </div>
                            </div>
                            <!-- list group -->
                            <div class="list-group-item list-group-item-action">
                                <!-- form check -->
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="QnAs[@i].SelectedAnswer" id="option2_@i" value="@Model.QnAs[i].Option2">
                                    <label class="form-check-label stretched-link" for="option2_@i">
                                        @Model.QnAs[i].Option2
                                    </label>
                                </div>
                            </div>
                            <!-- list group -->
                            <div class="list-group-item list-group-item-action">
                                <!-- form check -->
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="QnAs[@i].SelectedAnswer" id="option3_@i" value="@Model.QnAs[i].Option3">
                                    <label class="form-check-label stretched-link" for="option3_@i">
                                        @Model.QnAs[i].Option3
                                    </label>
                                </div>
                            </div>
                            <!-- list group -->
                            <div class="list-group-item list-group-item-action">
                                <!-- form check -->
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="QnAs[@i].SelectedAnswer" id="option4_@i" value="@Model.QnAs[i].Option4">
                                    <label class="form-check-label stretched-link" for="option4_@i">
                                        @Model.QnAs[i].Option4
                                    </label>
                                </div>
                            </div>
                        </div>
                    }
                    else if (Model.QnAs[i].Type.ToString() == "Multiple Choice")
                    {
                        <label class="form-label">Choose at least one answer</label>
                        <div class="list-group">
                            <div class="list-group-item list-group-item-action " aria-current="true">

                                <!-- form check -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="QnAs[@i].SelectedAnswer" id="option1_@i" value="@Model.QnAs[i].Option1">
                                    <label class="form-check-label stretched-link" for="option1_@i">
                                        @Model.QnAs[i].Option1
                                    </label>
                                </div>
                            </div>
                            <!-- list group -->
                            <div class="list-group-item list-group-item-action">
                                <!-- form check -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="QnAs[@i].SelectedAnswer" id="option2_@i" value="@Model.QnAs[i].Option2">
                                    <label class="form-check-label stretched-link" for="option2_@i">
                                        @Model.QnAs[i].Option2
                                    </label>
                                </div>
                            </div>
                            <!-- list group -->
                            <div class="list-group-item list-group-item-action">
                                <!-- form check -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="QnAs[@i].SelectedAnswer" id="option3_@i" value="@Model.QnAs[i].Option3">
                                    <label class="form-check-label stretched-link" for="option3_@i">
                                        @Model.QnAs[i].Option3
                                    </label>
                                </div>
                            </div>
                            <!-- list group -->
                            <div class="list-group-item list-group-item-action">
                                <!-- form check -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="QnAs[@i].SelectedAnswer" id="option4_@i" value="@Model.QnAs[i].Option4">
                                    <label class="form-check-label stretched-link" for="option4_@i">
                                        @Model.QnAs[i].Option4
                                    </label>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label class="form-label" for="option1_@i">Enter your answer</label>
                            <input class="form-control" name="QnAs[@i].SelectedAnswer" type="text" value="" placeholder="Your answer here...">
                        </div>
                    }
                </div>
            </div>
        }
    </ul>
    <div class="text-center mt-3">
        <button type="submit" name="action" class="btn btn-primary" onclick="return confirm('Are you sure you want to submit?')">Finish</button>
    </div>
</form>

@section scripts {
    <script>
        // Get the remaining time from the model and convert it to total seconds
        var remainingTimeInSeconds = Math.floor(@Model.RemainingTime.TotalSeconds);

        // Display the remaining time
        function displayTime() {
            var hours = Math.floor(remainingTimeInSeconds / 3600);
            var minutes = Math.floor((remainingTimeInSeconds % 3600) / 60);
            var seconds = remainingTimeInSeconds % 60;
            var timeString = hours.toString().padStart(2, '0') + ":" +
                minutes.toString().padStart(2, '0') + ":" +
                seconds.toString().padStart(2, '0');
            document.getElementById('countdown').innerText = timeString;
        }

        // Countdown timer function
        function startTimer() {
            var timerInterval = setInterval(function () {
                remainingTimeInSeconds--;
                displayTime();
                if (remainingTimeInSeconds <= 0) {
                    clearInterval(timerInterval);
                    document.getElementById('examForm').submit(); // Automatically submit the form when time runs out
                }
            }, 1000); // Update timer every second
        }

        // Call the startTimer function when the page loads
        startTimer();
    </script>
}

